<form #f="ngForm" class="form-newdata">
   <label for="form-newdata__input">Username:</label>
   <input name="username" ngModel #username="ngModel" type="text" id="form-newdata__input" class="form-newdata__input" required>
   <label for="form-newdata__message">Message:</label>
   <textarea name="message" ngModel #message="ngModel" type="text" id="form-newdata__message" class="form-newdata__input form-newdata__input_wide" required></textarea>
   <label for="form-newdata__datetime">Date and time:</label>
   <input name="datetime" ngModel #datetime="ngModel" id="form-newdata__datetime" type="datetime-local" class="form-newdata__input" required>
   <div class="form-newdata__button">
      <app-button [textButton]="'Add data'" (submitButton)="onSubmit(f)"></app-button>
   </div>
   <div class="form-newdata__button">
      <app-button [textButton]="'Close'" (closeButton)="buttonClose()"></app-button>
   </div>
</form>