<section class="table">
   <div class="table__top">
      <div class="table__top-leftside"></div>
      <div class="table__top-rightside">
         <app-button [textButton]="'Добавить'" (click)="showDialogForm()"></app-button>
         <app-modalform *ngIf="isModalDialogVisible" [isNewFormCondition]="isNewForm" [userSelected]="selectedUser"
            (closeModalDialog)="closeDialog()" (submitData)="addData($event)"></app-modalform>
      </div>
   </div>
   <div class="table__body">
      <div class="table__main">
         <div class="table__main-headers">
            <div class="table__main-headers-title table__main-headers-title_id">id</div>
            <div class="table__main-headers-title table__main-headers-title_username">username</div>
            <div class="table__main-headers-title table__main-headers-title_data">data</div>
            <div class="table__main-headers-title table__main-headers-title_message">message</div>
            <div class="table__main-headers-title table__main-headers-title_options">options</div>
         </div>
         <div class="table__main-data">
            <div class="table__main-data-row"
               *ngFor="let user of users | async | paginate: { itemsPerPage: 9, currentPage: page }"
               (click)="showUser(user)" [class.active]="user == selectedUser">
               <p class="table__main-data-item table__main-data-item_id">{{user.id}}</p>
               <p class="table__main-data-item table__main-data-item_username">
                  {{user.username}}</p>
               <p class="table__main-data-item table__main-data-item_data">{{user.datetime |
                  date: 'dd.MM.YYYY HH:mm:ss'}}</p>
               <p class="table__main-data-item table__main-data-item_message">
                  {{(user.message.length > 100) ? (user.message | slice: 0:100) + '...' : user.message }}</p>
               <p class="table__main-data-item table__main-data-item_options" (click)="deleteUser($event, user)">Delete
               </p>
            </div>
         </div>
         <div class="table__main-pagination">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
         </div>
      </div>
      <div class="table__aside">
         <div class="table__aside-main">
            <p class="table__aside-main-text">{{selectedUser?.username}}</p>
            <p class="table__aside-main-text">{{selectedUser?.datetime | date: 'dd.MM.YYYY HH:mm:ss'}}</p>
            <p class="table__aside-main-text">{{selectedUser?.message}}</p>
         </div>
         <div class="table__aside-footer">
            <app-button [textButton]="'Изменить'" (click)="showDialogFormCreated(selectedUser)"></app-button>
         </div>
      </div>
   </div>
</section>