.table{
   min-height: calc(100% - 122px);
   display: flex;
   flex-direction: column;
   border: 1px solid #674188;
   border-left: none;
   &__top{
      display: flex;
      padding: 10px;
      border: 1px solid #674188;
      &-leftside{
         flex: 1 1 auto;
      }
      &-rightside{
         flex-basis: 30%;
         padding-left: 15px;
      }
   }
   &__body{
      display: flex;
      flex-grow: 1;
   }
   &__main{
      display: flex;
      flex-direction: column;
      flex: 1 0 70%;
      text-align: center;
      border: 1px solid #674188;
      border-left: none;
      &-headers{
         display: flex;
         position: sticky;
         top: 0;
         background-color: #eee;
         &-title{
            font-weight: 700;
            padding: 10px 5px;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #674188;
            border-left: 2px solid #674188;
            &_id{
               flex-basis: 5%;
            }
            &_username{
               flex-basis: 15%;
            }
            &_data{
               flex-basis: 20%;
            }
            &_message{
               flex-basis: 45%;
            }
            &_options{
               flex-basis: 15%;
            }
         }
      }
      &-data{
         flex-grow: 1;
         &-row{
            display: flex;
            flex-wrap: wrap;
            cursor: pointer;
            border-top: 1px solid #674188;
            border-bottom: 1px solid #674188;
            &:last-child{
               border-bottom: 2px solid #674188;
            }
         }
         &-item{
            padding: 5px;
            border-left: 2px solid #674188;
            &_id{
               flex-basis: 5%;
            }
            &_username{
               flex-basis: 15%;
            }
            &_data{
               flex-basis: 20%;
            }
            &_message{
               flex-basis: 45%;
            }
            &_options{
               flex-basis: 15%;
            }
         }
      }
      &-pagination{
         padding-top: 10px;
      }
   }
   &__aside{
      display: flex;
      flex-direction: column;
      border: 1px solid #674188;
      &-main{
         flex: 1 1 auto;
         padding: 10px;
      }
      &-footer{
         padding: 10px;
      }
   }
}
.active{
   background-color: rgb(25, 197, 197);
}