<section class="table">
   <div class="table__top">
      <div class="table__top-leftside"></div>
      <div class="table__top-rightside">
         <app-button [textButton]="'Добавить'"></app-button>
      </div>
   </div>
   <div class="table__body">
      <div class="table__main">
         <div class="table__main-wrapper">
            <div class="table__main-headers">
               <p>Headers</p>
            </div>
            <div class="table__main-data">
               <p>Data</p>
            </div>
         </div>
         <div class="table__pagination">
            <p>Pagination</p>
         </div>
      </div>
      <div class="table__aside">
         <div class="table__aside-main">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam expedita maxime assumenda eligendi
            perspiciatis at iusto obcaecati animi. Nulla, recusandae?
         </div>
         <div class="table__aside-footer">
            <app-button [textButton]="'Изменить'"></app-button>
         </div>
      </div>
   </div>
</section>