.form-wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.5);
   width: 100%;
   min-height: 100%;
   font-weight: 700;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
}
.form-newdata {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   width: 40%;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;

   &__input {
      padding: 5px;
      margin: 10px auto;
      border: 2px solid rgb(121, 77, 204);
      border-radius: 5px;

      &_wide {
         height: 100px;
         width: 100%;
      }
   }

   &__button {
      width: 80%;
      padding: 0px 0px 10px 0px;
      margin: 0 auto;

      &_wide {
         color: #FFFBF5;
         background: #785399;
         padding: 6px 20px;
         border-radius: 8px;
         width: 100%;

         &:hover {
            background: #6fad4b;
         }
      }
   }
}